@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Building and Conference Room Information</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Main Menu</h2>
        <p>
            @Html.ActionLink("View Building Information", "ListBuildings", "Building")
        </p>
        <p>
            @Html.ActionLink("View Conference Room Information", "ListConfRooms", "ConfRoom")
        </p>
        <p>
            @Html.ActionLink("Add Building Info", "EnterBuildingInfo", "Building")
        </p>
        <p>
            @Html.ActionLink("Add Conference Room Info", "EnterConfRoomInfo", "ConfRoom")
        </p>
    </div>
</div>